<div class="container">
  <h1><%= t("index_h1") %></h1>
  <%= link_to 'Export CSV', posts_path(format: :csv)%>
  <table class="table text-center table-bordered table-striped table-dark">
    <thead class="thead-dark ">
    <tr>
      <th><%= Post.human_attribute_name(:title) %></th>
      <th><%= Post.human_attribute_name(:content) %></th>
      <th><%= Post.human_attribute_name(:address) %></th>
      <th><%= Post.human_attribute_name(:category) %></th>
      <th><%= Post.human_attribute_name(:author) %></th>
      <th><%= Post.human_attribute_name(:comments_count) %></th>
      <th><%= Post.human_attribute_name(:shorten_url) %></th>
      <th><%= Post.human_attribute_name(:ip_address) %></th>
      <th colspan="3"><%= Post.human_attribute_name(:action) %></th>
      <th><%= Post.human_attribute_name(:copy_clipboard) %></th>
    </tr>
    </thead>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= post.title %>
        </td>
        <td><%= post.content %></td>
        <td><%= "#{post.region&.name} #{post.province&.name} #{post.address}" %></td>
        <td><%= post.categories.pluck(:disaster).join(', ') %></td>
        <td><%= post.user.email %></td>
        <td><%= post.comments_count %> <%= image_tag ('hot.png'), width: "30", height: "30" if @hot_posts.include?(post) %></td>
        <td><%= link_to "#{post.unique_id}",post.unique_id %></td>
        <td><%= Geocoder.search(post.ip_address).first.country%></td>
        <td><%= link_to 'Read more', post_path(post) %></td>
        <td><%= link_to 'Edit', edit_post_path(post), class: "btn btn-outline-primary bi-pencil" if post.user == current_user %></td>
        <td><%= button_to 'Delete', post_path(post), method: :delete, :onclick => "return confirm('Are you sure you want to delete?')", class: "btn btn-outline-danger bi-trash" if post.user == current_user %></td>
        <td data-controller="clipboard">
          <span data-clipboard-target="email"><%= post.user.email %></span>
          <button data-action="click->clipboard#copy">copy</button>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @posts, theme: 'bootstrap-5',
               pagination_class: "pagination-sm flex-wrap justify-content-center",
               nav_class: "d-inline-block" %>
  <div>
    <%= link_to "New", new_post_path, class: "btn btn-success px-4 mb-4 bi-plus float-lg-end" %>
  </div>
</div>