<h1>New Post</h1>

<%= form_with model: @post do |form| %>
  <div>
    <strong><%= form.label :title %></strong>
    <div><%= form.text_field :title %></div>
  </div>
  <div>
    <strong><%= form.label :content %></strong>
    <div><%= form.text_area :content %></div>
  </div>

  <div>
    <strong><%= form.label :address %></strong>
    <div><%= form.text_field :address %></div>
  </div>

  <%= form.submit 'Submit' %>
<% end %>