<h1> Show post id: <%= @post.id %></h1>
<ul>
  <li>Title: <%= @post.title %></li>
  <li>Content: <%= @post.content %></li>
  <li>Address: <%= @post.address %></li>
</ul>

<%= link_to 'Back', posts_path %>