<div class="container">
  <%= link_to 'Back', posts_path, class: "bi-arrow-left" %>
  <h2 class="text-center mt-3"><%= @post.title %></h2>

  <small class="text-muted bi-clock float-lg-end"><%= @post.created_at %></small>

  <div style="font-size: 1.2rem">
    <p><strong>Category: </strong><%= @post.categories.pluck(:disaster).join(', ') %></p>
  </div>
  <div style="font-size: 1.2rem">
    <p class="text-justify"><strong>Content: </strong><%= @post.content %></p>
  </div>
  <div>
    <p><strong>Address: </strong><%= @post.address %></p>
  </div>
  <p><strong>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Show comments
    </a></strong></p>
  <div class="collapse.show mb-5" id="collapseExample">
    <div class="card card-body">
      <%= render 'posts/comments' %>
      <%= render partial: 'comments/form', locals: { comment: @post.comments.new, path: post_comments_path(@post) } %>
    </div>
  </div>
</div>
